<po-page-default>
  <po-button p-label="Incluir" routerLink="/cliente/incluir"> </po-button>
  <po-button style="float: right" p-label="Atualizar" (click)="atualizarListagem()"> </po-button>
  <po-table
    [p-auto-collapse]="true"
    [p-columns]="columns"
    [p-hide-columns-manager]="true"
    [p-hide-table-search]="false"
    [p-items]="itens"
    [p-sort]="true"
    [p-striped]="true"
    [p-spacing]="PoTableColumnSpacing.Large"
    [p-actions]="actions"
    [p-actions-right]="true"
  >
  </po-table>

  <po-modal p-title="Confirmar a exclusão?"
            [p-primary-action]="confirmarExclusao"
            [p-secondary-action]="cancelarExclusao">
    Deseja confirmar a exclusão do cliente?
  </po-modal>
</po-page-default>

