<po-page-default class="po-wrapper">
  <h1>Front-end com campos de inserção de dados de clientes:</h1>
  <ul>
    <li>Nome </li>
    <li>Endereço</li>
    <li>Bairro</li>
    <li>Lista de telefones(essa lista deve ser uma tabela
      separada vinculada ao cliente)</li>
    <li>Validar se o nome do cliente é maior que 10 caracteres e não
      permitir dados redundantes.</li>
    <li>Validar se um telefone cadastro a um cliente X não está
      vinculado a outro. 1 para 1.</li>
  </ul>



</po-page-default>
